/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", "Playfair Display";
  color: #262A3F;
  font-weight: 400;
  font-size: 18px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #262A3F;
}

.header {
  background: url(../images/header-background.png) no-repeat;
  background-size: cover;
  min-height: 119vh;
  box-shadow: 30px 29px 130px 50px rgba(245, 251, 252, 0.911);
}
@media (max-width: 1024px) {
  .header {
    min-height: 100vh;
  }
}
@media (max-width: 768px) {
  .header {
    min-height: 80vh;
    padding-bottom: 8em;
    box-shadow: none;
  }
}

.header-box {
  padding-top: 31px;
  margin-bottom: 9.3em;
}
@media (max-width: 425px) {
  .header-box {
    margin-bottom: 4em;
  }
}

.header-header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(9px);
}

.header_logo {
  margin-left: 64px;
}
@media (max-width: 425px) {
  .header_logo {
    margin-left: 25px;
  }
}

.header_navigation {
  flex: 1;
}

.header_navigation--list {
  display: flex;
  justify-content: end;
  margin-right: 40px;
}
@media (max-width: 768px) {
  .header_navigation--list {
    display: none;
  }
}

.header_navigation--list__item {
  margin-left: 32px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  font-family: "Lato";
}

.header_navigation--list__item:hover {
  color: #55565c;
}

.header-dark {
  margin-right: 64px;
  width: 32px;
  height: 32px;
  border-radius: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .header-dark {
    margin-right: 120px;
  }
}
@media (max-width: 425px) {
  .header-dark {
    margin-right: 80px;
    width: 28px;
    height: 28px;
  }
}

.header-introduction {
  width: 90%;
  margin: auto;
}

.header-introduction__title {
  font-size: 44px;
  line-height: 52px;
  font-family: "Playfair Display";
  margin-bottom: 24px;
}
@media (max-width: 425px) {
  .header-introduction__title {
    font-size: 30px;
    line-height: 46px;
  }
}

.header-title__text {
  color: #85bbb1;
  font-style: italic;
}

.header-introduction__text {
  margin-bottom: 48px;
  line-height: 26px;
  font-weight: 300;
  opacity: 0.8;
}
@media (max-width: 425px) {
  .header-introduction__text {
    font-size: 14px;
    margin-bottom: 34px;
  }
}

.header-introduction__button {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #F1897B;
  z-index: 2;
}

.button-background {
  width: 5.4em;
  height: 13px;
  background-color: #F1897B;
  z-index: 1;
  opacity: 0.3;
  position: relative;
  top: 25px;
  left: 11px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 70px;
  left: -100%;
  width: 100%;
  padding: 20px 0;
  list-style: none;
  text-align: center;
  background-color: #85bbb1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.5s;
  opacity: 0.7;
}

.mobile--navigation {
  display: none;
}
@media (max-width: 768px) {
  .mobile--navigation {
    display: block;
  }
}

.navigation-menu__item {
  display: block;
  margin: 7px 0;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  transition-duration: 0.5s;
}

.navigation-menu__item:hover {
  color: #649189;
}

#menu__toggle {
  opacity: 0;
}
@media (max-width: 768px) {
  #menu__toggle {
    display: none;
  }
}
@media (max-width: 1024px) {
  #menu__toggle {
    display: none;
  }
}
@media (max-width: 1440px) {
  #menu__toggle {
    display: none;
  }
}

.navigation__btn {
  display: none;
  position: absolute;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
@media (max-width: 768px) {
  .navigation__btn {
    display: flex;
    justify-content: end;
    right: 64px;
    top: 27px;
  }
}
@media (max-width: 425px) {
  .navigation__btn {
    display: flex;
    justify-content: end;
    right: 25px;
    top: 27px;
  }
}

.navigation__btn > span,
.navigation__btn > span::before,
.navigation__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition-duration: 0.5s;
}

.navigation__btn > span::before {
  content: "";
  top: -7px;
}

.navigation__btn > span::after {
  content: "";
  top: 7px;
}

#menu__toggle:checked ~ .navigation__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .navigation__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .navigation__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.main-section__one {
  display: flex;
}
@media (max-width: 768px) {
  .main-section__one {
    display: grid;
    max-height: 800px;
  }
}
@media (max-width: 425px) {
  .main-section__one {
    max-height: 570px;
  }
}

.section__one--image {
  position: relative;
  bottom: 165px;
  width: 31.4em;
  height: 37.8em;
  margin-left: 3.7em;
  background-size: cover;
}
@media (max-width: 768px) {
  .section__one--image {
    position: static;
    margin-left: 5.55em;
  }
}
@media (max-width: 425px) {
  .section__one--image {
    margin-left: 0;
    height: 30em;
  }
}

.section__one--image-city {
  background-size: cover;
  box-shadow: 0px 15px 25px 60px rgba(247, 252, 252, 0.973);
}
@media (max-width: 768px) {
  .section__one--image-city {
    box-shadow: 0px 0px 70px 120px rgba(247, 250, 249, 0.973);
  }
}
@media (max-width: 425px) {
  .section__one--image-city {
    width: 24em;
    height: 28em;
    box-shadow: none;
  }
}

.section-one__rating {
  display: flex;
  width: 48em;
  height: 32em;
  position: relative;
  opacity: 0.9;
  z-index: 1;
  right: 155px;
  background: #FFFFFF;
  bottom: 118px;
}
@media (max-width: 768px) {
  .section-one__rating {
    display: grid;
    width: 31.5em;
    height: 37.8em;
    left: 5.55em;
    bottom: 37.8em;
  }
}
@media (max-width: 425px) {
  .section-one__rating {
    width: 24em;
    height: 28em;
    left: 0;
    bottom: 30em;
  }
}

.rating-box {
  margin-left: 61px;
  margin-top: 33px;
}
@media (max-width: 768px) {
  .rating-box {
    display: none;
  }
}

.rating-box__title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 12px;
}

.image-dollar {
  margin-left: 30px;
}

.box__title {
  font-size: 68px;
  line-height: 72px;
  font-family: "Playfair Display";
}

.rating__title--three {
  margin-left: 1.4em;
  margin-bottom: 12px;
}

.rating-box__text {
  line-height: 26px;
  font-weight: 300;
  opacity: 0.8;
}

.rating-text-one {
  margin-left: 2.1em;
  margin-bottom: 2.7em;
}

.rating-text-two {
  margin-left: 2em;
  margin-bottom: 2.7em;
}

.rating__text--three {
  margin-left: 4.5em;
}

.rating-line {
  width: 82px;
  border: 1px solid #85BBB1;
  margin-left: 4.5em;
  margin-bottom: 2.2em;
}

.rating-inner {
  margin-top: 2.3em;
  margin-left: 6em;
}
@media (max-width: 425px) {
  .rating-inner {
    margin-left: 5em;
    margin-top: 1.7em;
  }
}

.rating-inner__text {
  line-height: 26px;
  font-weight: 300;
  opacity: 0.8;
}
@media (max-width: 425px) {
  .rating-inner__text {
    font-size: 14px;
  }
}

.inner__text--one {
  margin-bottom: 2em;
}

.inner__text--two {
  margin-bottom: 3.8em;
}

.rating-inner__button {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.08em;
  color: #f1897b;
  z-index: 2;
}

.inner__button--background {
  width: 8.6em;
  height: 13px;
  background-color: #F1897B;
  z-index: 1;
  opacity: 0.3;
  position: relative;
  top: 23px;
  left: 11px;
}

.main-section__two {
  max-width: 87%;
  margin: auto;
}

.section__two--box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 86px;
  margin-bottom: 7.8em;
}
@media (max-width: 768px) {
  .section__two--box {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    margin-bottom: 6em;
  }
}

.box-body {
  border-top: 1px solid #E4E4E4;
  padding-top: 32px;
  max-width: 520px;
}

.box-body__title {
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 48px;
  font-family: "Playfair Display";
}
@media (max-width: 768px) {
  .box-body__title {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 24px;
  }
}

.box-body__text {
  line-height: 26px;
  font-weight: 300;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .box-body__text {
    font-size: 14px;
    line-height: 18px;
  }
  .box-body__text .br {
    display: none;
  }
}

.box-body__text-one {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .box-body__text-one {
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  .box-body__text-one {
    margin-bottom: 0;
  }
}

.main-section__three {
  max-width: 90%;
  margin: auto;
}

.section__three--images {
  position: relative;
  display: inline-block;
  width: 100%;
}

.section__three--images-background {
  width: 100%;
  height: auto;
  display: block;
}

.section__three--images-quote {
  position: absolute;
  bottom: 15.5em;
  left: 7.5em;
}
@media (max-width: 768px) {
  .section__three--images-quote {
    width: 3em;
    height: auto;
    left: 3em;
    bottom: 9em;
  }
}
@media (max-width: 425px) {
  .section__three--images-quote {
    width: 1.5em;
    height: auto;
    left: 2em;
    bottom: 5em;
  }
}

.section__three--title {
  display: grid;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  position: relative;
  bottom: 10.4em;
  left: 6.1em;
}
@media (max-width: 768px) {
  .section__three--title {
    font-size: 18px;
    line-height: 24px;
    left: 4.8em;
  }
}
@media (max-width: 425px) {
  .section__three--title {
    font-size: 12px;
    line-height: 16px;
    left: 4.2em;
    bottom: 8.8em;
  }
}

.section__three--subtitle {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  font-family: "Playfair Display";
  color: #FFFFFF;
  position: relative;
  bottom: 13em;
  left: 10em;
  font-style: italic;
}
@media (max-width: 768px) {
  .section__three--subtitle {
    font-size: 14px;
    line-height: 18px;
    left: 6.3em;
    bottom: 11em;
  }
}
@media (max-width: 425px) {
  .section__three--subtitle {
    font-size: 10px;
    left: 5em;
    bottom: 9.5em;
  }
}

.main-section__four {
  display: flex;
  flex-direction: column;
  max-width: 62.5%;
  margin: auto;
  margin-bottom: 6.7em;
}
@media (max-width: 768px) {
  .main-section__four {
    max-width: 83%;
    margin-bottom: 3em;
  }
}
@media (max-width: 425px) {
  .main-section__four {
    max-width: 95%;
    margin-bottom: 0;
  }
}

.section__four--body {
  width: 50em;
  height: 30em;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 32px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 3em;
}
@media (max-width: 768px) {
  .section__four--body {
    width: 32em;
    height: 18em;
    border-radius: 20px;
  }
}
@media (max-width: 425px) {
  .section__four--body {
    flex-direction: column;
    width: 20em;
    height: 30em;
  }
}

.section__four--circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #E4E4E4;
  margin: 0 8px 0 8px;
}
@media (max-width: 768px) {
  .section__four--circle {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 425px) {
  .section__four--circle {
    margin: 5px 0 5px;
  }
}

.video-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__four--video {
  width: 45.1em;
  height: 27.9em;
  opacity: 0.2;
  border: 1px solid #E4E4E4;
  border-radius: 8px;
}
@media (max-width: 768px) {
  .section__four--video {
    width: 27.5em;
    height: 16em;
  }
}
@media (max-width: 425px) {
  .section__four--video {
    width: 19em;
    height: 26.5em;
    background: rgba(133, 187, 177, 0.5);
  }
}

.video-button {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(88, 98, 145, 0.2);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .video-button {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 768px) {
  .treangel {
    width: 24px;
    height: 24px;
  }
}

.video-button:hover {
  background: rgba(67, 75, 110, 0.4);
}

.video-button__play {
  position: relative;
  left: 5px;
  z-index: 1;
}

.section__four--box {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #E4E4E4;
  margin-left: 14px;
}
@media (max-width: 768px) {
  .section__four--box {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 425px) {
  .section__four--box {
    margin-top: 7px;
  }
}

.section__four--title {
  margin-bottom: 0.5em;
  font-size: 40px;
  line-height: 48px;
  font-family: "Playfair Display";
}
@media (max-width: 768px) {
  .section__four--title {
    font-size: 34px;
    line-height: 38px;
  }
  .section__four--title br {
    display: none;
  }
}
@media (max-width: 425px) {
  .section__four--title {
    font-size: 28px;
    margin-left: 5px;
  }
}

.section__four--text {
  line-height: 26px;
  font-weight: 300;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .section__four--text br {
    display: none;
  }
}
@media (max-width: 425px) {
  .section__four--text {
    font-size: 14px;
    margin-left: 5px;
    line-height: 22px;
  }
}

.main-section__five {
  max-width: 90%;
  margin: auto;
  display: flex;
  max-height: 30.5em;
  margin-bottom: 8.3em;
}
@media (max-width: 768px) {
  .main-section__five {
    margin-bottom: 3em;
  }
}
@media (max-width: 425px) {
  .main-section__five {
    flex-direction: column;
  }
}

.five--sidebar__beckground {
  width: 31.4em;
  height: 30em;
}
@media (max-width: 768px) {
  .five--sidebar__beckground {
    visibility: hidden;
  }
}

.section__five--widget {
  width: 13.3em;
  height: 19em;
  background: #161926;
  border-radius: 12px;
  position: relative;
  left: 4.2em;
  bottom: 24.2em;
}
@media (max-width: 768px) {
  .section__five--widget {
    left: 2em;
    z-index: 1;
  }
}
@media (max-width: 425px) {
  .section__five--widget {
    left: 4em;
  }
}

.widget--currency {
  display: flex;
  padding: 23px 0 16px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  margin: 0 21px 10px 19px;
}

.currency-button {
  color: white;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  opacity: 0.8;
  height: 1.3em;
  display: flex;
  align-items: center;
}

.currency-button:hover {
  width: 48px;
  height: 18px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.25s;
}

.currency-icon {
  margin-left: 6px;
}

.currency-arow {
  margin: 0 15px 0 15px;
}

.widget--rate {
  padding-bottom: 13px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  margin: 0 21px 13px 19px;
}

.rate-text {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 600;
  color: #FFFFFF;
  opacity: 0.3;
}

.rate-numbers {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}

.rate-number {
  font-size: 56px;
  opacity: 0.9;
  font-style: normal;
  margin-left: 6px;
  font-weight: 700;
  color: #FFFFFF;
}

.widget--pay {
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  margin: 0 21px 10px 19px;
}

.pay-convercion {
  display: flex;
}

.convercion {
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.3);
}

.convercion-input {
  width: 6em;
  height: 2em;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.7);
  outline: none;
  padding-left: 9px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Lato";
  margin-bottom: 18px;
}
.convercion-input::-webkit-outer-spin-button, .convercion-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-bitcoin {
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: 5em;
  margin-right: 10px;
}

.input-token {
  background-image: url(../images/Vector\ \(1\).svg);
  background-repeat: no-repeat;
  background-position: 5em;
}

.pay-fees {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.3);
}

.maker-fees {
  margin-right: 6em;
}

.exchange-fees {
  margin-right: 4.5em;
}

.pay-input {
  width: 51px;
  height: 17px;
  background: rgba(255, 255, 255, 0.06);
  border: none;
  border-radius: 4px;
  outline: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 10px;
  font-family: "Lato";
}
.pay-input::-webkit-outer-spin-button, .pay-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.widget--footer {
  margin: 0 21px 0 19px;
  display: flex;
}

.widget--footer__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.widget--footer__image-circle {
  position: absolute;
}

.widget--footer__button {
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.04;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.widget--footer__button-item {
  margin-left: 14px;
  margin-right: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.widget--footer__button-item:hover {
  color: white;
}

.widget--footer__button-item-two:hover {
  color: rgba(255, 255, 255, 0.6);
}

.section__five--aside {
  width: 42.3em;
  height: 25.1em;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  right: 9.6em;
  top: 2.2em;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .section__five--aside {
    height: 17em;
    width: 100%;
    right: 14em;
    align-items: flex-end;
  }
}
@media (max-width: 425px) {
  .section__five--aside {
    display: none;
  }
}

.five--aside__box {
  display: flex;
  margin-top: 4em;
  margin-left: 3.5em;
  width: 100%;
}
@media (max-width: 768px) {
  .five--aside__box {
    flex-direction: column;
    margin-top: 0;
    margin-left: 10em;
  }
}

.five--aside__inner {
  margin-right: 10em;
}
@media (max-width: 768px) {
  .five--aside__inner {
    margin-right: 0;
    margin-top: 3.5em;
  }
}

.five--aside__inner-two {
  margin-right: 7.6em;
}
@media (max-width: 768px) {
  .five--aside__inner-two {
    margin-right: 0;
  }
}

.aside__inner--title {
  font-size: 24px;
  line-height: 48px;
  font-family: "Playfair Display";
  color: #262A3F;
  margin-bottom: 14px;
}
@media (max-width: 768px) {
  .aside__inner--title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 6px;
    margin-top: 1em;
  }
  .aside__inner--title br {
    display: none;
  }
}

.aside__inner--text {
  line-height: 26px;
  font-weight: 300;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .aside__inner--text {
    font-size: 16px;
    line-height: 18px;
  }
  .aside__inner--text br {
    display: none;
  }
}

.inner--text__margin {
  margin-bottom: 13px;
}
@media (max-width: 768px) {
  .inner--text__margin {
    margin-bottom: 4px;
  }
}

.five--aside__button {
  width: 17.1em;
  height: 5.2em;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .five--aside__button {
    width: 8em;
    height: 2em;
    margin-top: 1em;
  }
  .five--aside__button a {
    font-size: 12px;
  }
  .five--aside__button a div {
    display: none;
  }
}

.five--aside__button:hover {
  background: #fde6e2;
  cursor: pointer;
  transition: 0.25s;
}

.main-section__six {
  display: grid;
  grid-template-columns: 25.3em 1fr 1fr 1fr;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 10em;
}
.main-section__six::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
@media (max-width: 768px) {
  .main-section__six {
    grid-template-columns: 19em 1fr 1fr 1fr;
    margin-bottom: 2em;
  }
}
@media (max-width: 425px) {
  .main-section__six {
    grid-template-columns: none;
    margin-bottom: 0;
  }
}

.section__six--sidebar {
  margin-left: 3.7em;
}
@media (max-width: 768px) {
  .section__six--sidebar {
    margin-left: 2em;
  }
}

.six--sidebar__title {
  margin-bottom: 1.1em;
  font-size: 40px;
  line-height: 48px;
  font-family: "Playfair Display";
}
@media (max-width: 768px) {
  .six--sidebar__title {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 0.5em;
  }
}

.six--sidebar__text {
  margin-bottom: 7.4em;
  line-height: 26px;
  font-weight: 300;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .six--sidebar__text {
    font-size: 14px;
    line-height: 20px;
  }
}

.six--sidebar__box {
  width: 18.3em;
  height: 2.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .six--sidebar__box {
    width: 15em;
  }
}
@media (max-width: 425px) {
  .six--sidebar__box {
    display: none;
  }
}

.sidebar__box--text {
  font-size: 24px;
  line-height: 48px;
  font-family: "Playfair Display";
}
@media (max-width: 768px) {
  .sidebar__box--text {
    font-size: 20px;
    line-height: 34px;
  }
}
.sidebar__box--text span {
  font-size: 40px;
  line-height: 48px;
}
@media (max-width: 768px) {
  .sidebar__box--text span {
    font-size: 30px;
    line-height: 36px;
  }
}

.sidebar__box--arow-left {
  font-size: 30px;
  color: #000000;
  opacity: 0.1;
  margin-right: 1em;
  cursor: pointer;
}
@media (max-width: 768px) {
  .sidebar__box--arow-left {
    font-size: 26px;
  }
}

.sidebar__box--arow-right {
  font-size: 30px;
  color: #85BBB1;
}
@media (max-width: 768px) {
  .sidebar__box--arow-right {
    font-size: 26px;
  }
}

.sidebar__box--arow-right:hover {
  cursor: pointer;
  opacity: 0.6;
}

.section__six--card {
  margin-right: 1.1em;
}
@media (max-width: 768px) {
  .section__six--card {
    margin-right: 0.8em;
  }
}

.six--card__container {
  height: 18.6em;
}
@media (max-width: 425px) {
  .six--card__container {
    height: 15em;
    margin-left: 1.8em;
  }
}

.six--card__image {
  width: 26em;
}
@media (max-width: 768px) {
  .six--card__image {
    width: 20em;
  }
}
@media (max-width: 425px) {
  .six--card__image {
    position: relative;
    bottom: 4.15em;
  }
}

.six--card__box {
  width: 26em;
  height: 18.5em;
  background: rgba(25, 28, 41, 0.7);
  position: relative;
  bottom: 334px;
  z-index: 1;
  cursor: pointer;
}
@media (max-width: 768px) {
  .six--card__box {
    width: 20em;
  }
}
@media (max-width: 425px) {
  .six--card__box {
    height: 14.3em;
  }
}

.six--card__text {
  font-size: 16px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.8);
  margin-left: 2.6em;
  padding-top: 2.8em;
}
@media (max-width: 768px) {
  .six--card__text {
    font-size: 12px;
    line-height: 20px;
    padding-top: 9em;
  }
}
@media (max-width: 425px) {
  .six--card__text {
    padding-top: 3em;
  }
}

.six--card__autor {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  font-family: "Playfair Display";
  font-style: italic;
  margin-left: 2.3em;
  padding-top: 1.8em;
}
@media (max-width: 768px) {
  .six--card__autor {
    font-size: 16px;
  }
}

.autor-text {
  padding-top: 3.2em;
}

.footer {
  max-width: 90%;
  margin: auto;
}

.footer-body {
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  display: flex;
  justify-content: space-between;
  padding-bottom: 6.6em;
}
@media (max-width: 768px) {
  .footer-body {
    padding-bottom: 3em;
  }
}
@media (max-width: 425px) {
  .footer-body {
    padding-bottom: 1.5em;
    flex-direction: column;
  }
}

.footer-body__content {
  margin-top: 6.6em;
}
@media (max-width: 768px) {
  .footer-body__content {
    margin-top: 3em;
  }
}
@media (max-width: 425px) {
  .footer-body__content {
    margin-top: 1.5em;
  }
}

.footer-body__content_title {
  margin-bottom: 0.6em;
  font-size: 40px;
  line-height: 48px;
  font-family: "Playfair Display";
}
@media (max-width: 768px) {
  .footer-body__content_title {
    font-size: 30px;
  }
}

.footer-body__content_text {
  line-height: 26px;
  font-weight: 300;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .footer-body__content_text {
    font-size: 14px;
    line-height: 20px;
  }
}

.footer-body__form {
  margin-top: 7em;
}
@media (max-width: 768px) {
  .footer-body__form {
    margin-top: 3em;
  }
}

.footer-body__form-item {
  width: 26em;
  height: 2.4em;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.08em;
  color: rgba(38, 42, 63, 0.5);
  font-family: "Playfair Display";
  font-style: italic;
  border: none;
  border-bottom: 1px solid rgba(38, 42, 63, 0.1);
  outline: none;
  padding-left: 2px;
  margin-bottom: 1.5em;
}
@media (max-width: 768px) {
  .footer-body__form-item {
    width: 17em;
    height: 2em;
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .footer-body__form-item {
    width: 19em;
  }
}

.footer-body__form-button:hover {
  opacity: 0.9;
}

.form-btn {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #F1897B;
  z-index: 2;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
@media (max-width: 768px) {
  .form-btn {
    font-size: 18px;
  }
}

.form-btn-background {
  width: 10em;
  height: 13px;
  background-color: #F1897B;
  z-index: 1;
  opacity: 0.3;
  position: relative;
  bottom: 10px;
  left: 11px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .form-btn-background {
    width: 9em;
    height: 11px;
  }
}

.footer-aside {
  margin-top: 1.3em;
  margin-bottom: 1.3em;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer-aside {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.footer-aside__text {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  opacity: 0.6;
}
.footer-aside__text br {
  visibility: hidden;
}
@media (max-width: 768px) {
  .footer-aside__text {
    font-size: 10px;
  }
}
@media (max-width: 425px) {
  .footer-aside__text {
    font-size: 8px;
    line-height: 10px;
  }
  .footer-aside__text br {
    visibility: visible;
  }
}

.footer-aside__excerpt {
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: rgba(38, 42, 63, 0.6);
}
@media (max-width: 768px) {
  .footer-aside__excerpt {
    font-size: 10px;
  }
}
@media (max-width: 425px) {
  .footer-aside__excerpt {
    font-size: 8px;
  }
}

.footer-aside__autor {
  margin-left: 0.6em;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.08em;
  counter-reset: #262a3f;
}

.footer-aside__link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: #262A3F;
  margin-left: 1.7em;
}
@media (max-width: 768px) {
  .footer-aside__link {
    font-size: 10px;
  }
}
@media (max-width: 425px) {
  .footer-aside__link {
    font-size: 8px;
  }
}

/*# sourceMappingURL=styles.css.map */
