.header {
    background: url(../images/header-background.png) no-repeat;
    background-size: cover;
    min-height: 119vh;
    // -webkit-box-shadow: 12px 29px 81px 0px rgba(248, 251, 250, 0.911);
    // -moz-box-shadow: 12px 29px 81px 0px rgba(245, 251, 252, 0.911);
    box-shadow: 30px 29px 130px 50px rgba(245, 251, 252, 0.911);
}

.header-box {
    padding-top: 31px;
    margin-bottom: 9.3em;
}

.header-header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(9px);
}

.header_logo {
    margin-left: 64px;
}

.header_navigation {
    flex: 1;
}

.header_navigation--list {
    display: flex;
    justify-content: end;
    margin-right: 40px;
}

.header_navigation--list__item {
    margin-left: 32px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.08em;
    font-family: $font-lato;
}

.header_navigation--list__item:hover {
    color: #55565c;
}

.header-dark {
    margin-right: 64px;
    width: 32px;
    height: 32px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .3);
}

.header-introduction {
    width: 90%;
    margin: auto;
}

.header-introduction__title {
    font-size: 44px;
    line-height: 52px;
    font-family: $font-playfair-display;
    margin-bottom: 24px;
}

.header-title__text {
    color: rgb(115, 194, 214);
    font-style: italic;
}

.header-introduction__text {
    margin-bottom: 48px;

    @include p;
}

.header-introduction__button {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: .08em;
    color: #F1897B;
    z-index: 2;
}

.button-background {
    width: 5.4em;
    height: 13px;
    background-color: #F1897B;
    z-index: 1;
    opacity: .3;
    position: relative;
    top: 25px;
    left: 11px;
}