// font
$fonts: "Lato", "Playfair Display";
$font-lato: "Lato";
$font-playfair-display: "Playfair Display";
$primary-color: #262A3F;
$primary-font-weight: 400;

// media
$phone: 425px;
$ladtop: 768px;
$mini-desktop: 1024px;
$desktop: 1440px;