/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", "Playfair Display";
  color: #262A3F;
  font-weight: 400;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #262A3F;
}

.header {
  background: url(../images/header-background.png) no-repeat;
  background-size: cover;
  min-height: 119vh;
}

.header-box {
  padding-top: 31px;
  margin-bottom: 9.3em;
}

.header-header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
}

.header_logo {
  margin-left: 64px;
}

.header_navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header_navigation--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 40px;
}

.header_navigation--list__item {
  margin-left: 32px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
  font-family: "Lato";
}

.header_navigation--list__item:hover {
  color: #55565c;
}

.header-dark {
  margin-right: 64px;
  width: 32px;
  height: 32px;
  border-radius: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.header-introduction {
  width: 90%;
  margin: auto;
}

.header-introduction__title {
  font-size: 44px;
  line-height: 52px;
  font-family: "Playfair Display";
  margin-bottom: 24px;
}

.header-title__text {
  color: #73c2d6;
  font-style: italic;
}

.header-introduction__text {
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 48px;
}

.header-introduction__button {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: .08em;
  color: #F1897B;
  z-index: 2;
}

.button-background {
  width: 112px;
  height: 13px;
  background-color: #F1897B;
  z-index: 1;
  opacity: .3;
  position: relative;
  bottom: 9px;
  left: 11px;
}

.main-section__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__one--image {
  position: relative;
  bottom: 165px;
  width: 52.2%;
  height: 38em;
  margin-left: 67px;
}

.section-one__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 83%;
  height: 31em;
  position: relative;
  opacity: .9;
  z-index: 1;
  right: 155px;
  background: #FFFFFF;
  bottom: 111px;
}
/*# sourceMappingURL=styles.css.map */