// font
$fonts: "Lato", "Playfair Display";
$font-lato: "Lato";
$font-playfair-display: "Playfair Display";
$primary-color: #FFFFFF;
$primary-font-weight: 400;

// FONT-SIZE, LINE-HEIGHT, FONT-WEIGHT, OPACITY
$a-font-size-14: 14px;
$a-font-size-18: 18px;
$a-font-size-20: 20px;
$a-line-height-24: 24px;
$a-line-height-20: 20px;
$a-font-weight-700: 700;
$a-opacity-08: .8;
$p-font-size-24: 24px;
$p-font-size-22: 22px;
$p-font-size-20: 20px;
$p-font-size-18: 18px;
$p-font-size-16: 16px;
$p-font-size-14: 14px;
$p-font-size-12: 12px;
$p-font-size-10: 10px;
$p-font-size-8: 8px;
$p-line-height-48: 48px;
$p-line-height-34: 34px;
$p-line-height-26: 26px;
$p-line-height-22: 22px;
$p-line-height-20: 20px;
$p-line-height-18: 18px;
$p-line-height-10: 10px;
$p-font-weight-300: 300;
$p-opacity-08: 0.8;
$h1-font-size-44: 44px;
$h1-font-size-30: 30px;
$h1-line-height-52: 52px;
$h1-line-height-46: 46px;
$h2-font-size-68: 68px;
$h2-line-height-72: 72px;
$h3-font-size-40: 40px;
$h3-font-size-34: 34px;
$h3-font-size-30: 30px;
$h3-font-size-28: 28px;
$h3-font-size-20: 20px;
$h3-line-height-48: 48px;
$h3-line-height-38: 38px;
$h3-line-height-34: 34px;
$h3-line-height-24: 24px;
$h4-font-size-32: 32px;
$h4-font-size-26: 26px;
$h4-font-size-18: 18px;
$h4-font-size-12: 12px;
$h4-line-height-46: 46px;
$h4-line-height-36: 36px;
$h4-line-height-24: 24px;
$h4-line-height-16: 16px;
$h5-font-size-24: 24px;
$h5-font-size-20: 20px;
$h5-line-height-48: 48px;
$h5-line-height-28: 28px;
$span-font-size-40: 40px;
$span-font-size-34: 34px;
$span-font-size-30: 30px;
$span-font-size-26: 26px;
$span-line-height-48: 48px;
$span-line-height-40: 40px;
$span-line-height-36: 36px;
$input-font-size-18: 18px;
$input-font-size-16: 16px;
$input-line-height-26: 26px;

// media
$phone: 425px;
$ladtop: 768px;
$mini-desktop: 1024px;
$desktop: 1440px;